.appWrapper {margin-top:40px;
  border: 3px orange solid;
  border-radius: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto;
  }

  header {
    padding: 30px 20px 0 ;
  }

  h1 {
    text-transform: capitalize;
    font-size: 30px;
    padding: 10px;
  }

  .icon {
    font-size: 40px;
    padding: 0 50px;
  }

  h2 {
    font-size: 20px;
  }

  label {
    font-size: 13px;
    color: gray;
    font-weight: bolder;
  }

  .date {
    padding: 0 200px;
  }
 
  .currentTemp {
        padding: 5px 220px 15px;
    font-size: 20px;
  }
  .tempNow {
    font-size: 30px;
  }

  a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
  }

  
 
